[data-action=zoom] {
  cursor: zoom-in;
}

[data-action=zoom].zoomed,
.zoom-overlay {
  cursor: zoom-out;
}

[data-action=zoom].zoomed,
[data-action=zoom].zooming {
  z-index: 900;
}

.media-placeholder {
  position: relative;
  width: 100%;
}

.media-placeholder .media-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 250ms ease, width 100ms ease, background-image 250ms ease;
}

.zoom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  opacity: 1;
  z-index: 800;
}

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  animation-name:fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 150ms;
  animation-timing-function: ease-in;
}

.fade-out {
  opacity:1;  /* make things visible upon start */
  animation-name:fadeOut;
  animation-fill-mode: forwards;
  animation-duration: 150ms;
  animation-timing-function: ease-in;
}
